# Exam

### Creating one coherent data set (from four similar data sets)

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#### Importing data

In [2]:
# Data set 0 (2015)
dfIndiaSUF0 = pd.DataFrame() # Create an empyty dataframe of Indian Start-Up Funding Data
monthList0 = ["Jan", "Feb", "Mar", ] # List of months in data
yearList0 = ["2015"] # List of years in data
 
for y, m in [(y,m) for y in yearList0 for m in monthList0]: # Loops through each element in yearList, and for each element it loops through each element of monthList
    try: # Tests if code can run e.g. checks if the file or is data in the file exists
        dfNewTemp0 = pd.read_csv('Indian Start-Up Funding Data/'+m+'_'+y+'.csv', skipinitialspace = True) # Creates a temporary dataframe for read/imported data from data file
        dfIndiaSUF0 = dfIndiaSUF0.append(dfNewTemp0) # Adds above dataframe below existing data in the main dataframe
    except: # If above error returns an error
        continue # Skips the above code and import of filedata

In [3]:
## Data set 01 (2015)
dfIndiaSUF0_1 = pd.DataFrame() # Create an empyty dataframe of Indian Start-Up Funding Data
monthList0_1 = ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"] # List of months in data
yearList0_1 = ["2015"] # List of years in data
 
for y, m in [(y,m) for y in yearList0_1 for m in monthList0_1]: # Loops through each element in yearList, and for each element it loops through each element of monthList
    try: # Tests if code can run e.g. checks if the file or is data in the file exists
        dfNewTemp0_1 = pd.read_csv('Indian Start-Up Funding Data/'+m+'_'+y+'.csv', skipinitialspace = True) # Creates a temporary dataframe for read/imported data from data file
        dfIndiaSUF0_1 = dfIndiaSUF0_1.append(dfNewTemp0_1) # Adds above dataframe below existing data in the main dataframe
    except: # If above error returns an error
        continue # Skips the above code and import of filedata

In [4]:
# Data set 1 (2016-2019)
dfIndiaSUF1 = pd.DataFrame() # Create an empyty dataframe of Indian Start-Up Funding Data
monthList1 = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"] # List of months in data
yearList1 = ["2016", "2017", "2018", "2019"] # List of years in data
 
for y, m in [(y,m) for y in yearList1 for m in monthList1]: # Loops through each element in yearList, and for each element it loops through each element of monthList
    try: # Tests if code can run e.g. checks if the file or is data in the file exists
        dfNewTemp1 = pd.read_csv('Indian Start-Up Funding Data/'+m+'_'+y+'.csv', skipinitialspace = True) # Creates a temporary dataframe for read/imported data from data file
        dfIndiaSUF1 = dfIndiaSUF1.append(dfNewTemp1) # Adds above dataframe below existing data in the main dataframe
    except: # If above error returns an error
        continue # Skips the above code and import of filedata

In [5]:
# Data set 2 (2020-2021)
dfIndiaSUF2 = pd.DataFrame() # Create an empyty dataframe of Indian Start-Up Funding Data
monthList2 = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"] # List of months in data
yearList2 = ["2020", "2021"] # List of years in data
   
for y, m in [(y,m) for y in yearList2 for m in monthList2]: # Loops through each element in yearList, and for each element it loops through each element of monthList
    try: # Tests if code can run e.g. checks if the file or is data in the file exists
        dfNewTemp2 = pd.read_csv('Indian Start-Up Funding Data/'+m+'_'+y+'.csv', skipinitialspace = True, sep=';') # Creates a temporary dataframe for read/imported data from data file
        dfIndiaSUF2 = dfIndiaSUF2.append(dfNewTemp2) # Adds above dataframe below existing data in the main dataframe
    except: # If above error returns an error
        continue # Skips the above code and import of filedata

In [6]:
# Data preview 1/4
dfIndiaSUF0.head(2)

,Sr. No.,Date,Startup Name,Investor Name,Investment Type,Amount(in USD),Remarks
0,1.0,02/01/2015,LensKart,"TPG Growth, TR Capital, IDG Ventures",Private Equity,"2,150,000",NaN
1,2.0,02/01/2015,VioletStreet,"Venkat Vallabhneni, Sudhakar Reddy, Srinivasa ...",SeedFunding,"315,000",NaN

In [7]:
# Data preview 2/4
dfIndiaSUF0_1.head(2)

,Sr. No.,Date,Startup Name,Industry/Vertical,City,Investor Name,InvestmentType,Amount(in USD),Remarks
0,1.0,03/04/2015,Swiggy,Online Food Delivery,Bangalore,"Accel Partners, SAIF Partners",Private Equity,"2,000,000",Series A
1,2.0,04/04/2015,Bluegape,Web Content Publishing,Gurgaon,"Rudy Gopalakrishnan, ah! Ventures",Seed Funding,"200,000",NaN

In [8]:
# Data preview 2/4
dfIndiaSUF1.head(2)

,Sr. No.,Date,Startup Name,Industry/Vertical,Sub-Vertical,City,Investor Name,Investment Type,Amount(in USD)
0,1.0,01/1/2016,Smartcooky,ECommerce,Health Food / Personal Care Marketplace,New Delhi,"Rajan Anandan, Pramod Bhasin, Siddharth Pai, T...",Seed Funding,NaN
1,2.0,01/1/2016,Helpi,Consumer Internet,On Demand Cleaning Services Mobile App,Mumbai,Undisclosed Investors,Seed Funding,NaN

In [9]:
# Data preview 3/4
dfIndiaSUF2.head(2)

,Unnamed: 0,Startup Name,Funding Date,Founding Date,City,Industry/Vertical,Sub-Vertical,Founders,Investors,Amount(in USD),Investment Stage
0,0,AdonMo,01/01/2020,2017.0,Bangalore,Ad-tech,It is an online and outdoor advertising company,"Sandeep Bommireddi, Sravanth Gajula",Ant Financial,"$3,000,000",NaN
1,1,RACEnergy,01/01/2020,2018.0,NaN,E-mobility,It builds electric vehicles and supporting inf...,"Arun Sreyas, Gautham Maheswaran","GrowX ventures, Prophetic Ventures",Undisclosed,Seed Round

#### Cleaning up data sets for joining

In [10]:
# Renaming column
dfIndiaSUF0_1 = dfIndiaSUF0_1.rename(columns={"InvestmentType": "Investment Type"})

In [11]:
# Adding data set 0 to end of data set 01
dfIndiaSUF0 = dfIndiaSUF0_1.append(dfIndiaSUF0) # Adds above dataframe below existing data in the main dataframe

In [12]:
# Moving data column, by assigning it, deleting it, and then adding it again
dfIndiaSUF0_Remarks = dfIndiaSUF0.pop('Remarks')
dfIndiaSUF0.insert(8, 'Remarks', dfIndiaSUF0_Remarks)

# Adding column, with NaN calues, to match data sets
dfIndiaSUF0.insert(4, 'Sub-Vertical', np.nan)

In [13]:
# Moving data column, by assigning it, deleting it, and then adding it again
dfIndiaSUF0_InvestmentType = dfIndiaSUF0.pop('Investment Type')
dfIndiaSUF0.insert(8, 'Investment Type', dfIndiaSUF0_InvestmentType)
dfIndiaSUF0_City = dfIndiaSUF0.pop('City')
dfIndiaSUF0.insert(5, 'City', dfIndiaSUF0_City)

# Renaming (exchanging two) index columns
dfIndiaSUF0 = dfIndiaSUF0.rename(columns={"Investment Type": "Investment Type", "Amount(in USD)": "Amount(in USD)", "City": "City", "Sub-Vertical": "Sub-Vertical"})

In [14]:
# Adding data set 1 to end of data set 0
dfIndiaSUF1 = dfIndiaSUF0.append(dfIndiaSUF1)

In [15]:
# Deleting first index column in both data sets
dfIndiaSUF1 = dfIndiaSUF1.iloc[: , 1:]
dfIndiaSUF2 = dfIndiaSUF2.iloc[: , 1:]

# Moving data column, by assigning it, deleting it, and then adding it again
dfIndiaSUF1_StartupName = dfIndiaSUF1.pop('Startup Name')
dfIndiaSUF1.insert(0, 'Startup Name', dfIndiaSUF1_StartupName)

# Moving data column, by assigning it, deleting it, and then adding it again
dfIndiaSUF2_Founders = dfIndiaSUF2.pop('Founders')
dfIndiaSUF2.insert(1, 'Founders', dfIndiaSUF2_Founders)
dfIndiaSUF2_InvestmentStage = dfIndiaSUF2.pop("Investment Stage")
dfIndiaSUF2.insert(7, 'Investment Stage', dfIndiaSUF2_InvestmentStage)
dfIndiaSUF2_City = dfIndiaSUF2.pop('City')
dfIndiaSUF2.insert(5, 'City', dfIndiaSUF2_City)

# Adding column, with NaN calues, to match data sets
dfIndiaSUF1.insert(1, 'Founders', np.nan)
dfIndiaSUF2.insert(9, 'Remarks', np.nan)
dfIndiaSUF1.insert(3, 'Founding Date', np.nan)

In [16]:
# Renaming index columns, to match data sets
dfIndiaSUF1 = dfIndiaSUF1.rename(columns={'Startup Name': 'Startup Name', 'Founders': 'Founder(s)', 'Date': 'Funding Date', 'Industry/Vertical': 'Industry/Vertical', 'Sub-Vertical': 'Sub-Vertical', 'City': 'City', 'Investor Name': 'Investor(s)', 'Investment Type': 'Investment Type', 'Amount(in USD)': 'Investment Amount (USD)', 'Remarks': 'Remarks'})
dfIndiaSUF2 = dfIndiaSUF2.rename(columns={'Startup Name': 'Startup Name', 'Founders': 'Founder(s)', 'Founding Date': 'Founding Date', 'Industry/Vertical': 'Industry/Vertical', 'Sub-Vertical': 'Sub-Vertical', 'City': 'City', 'Investors': 'Investor(s)', 'Investment Stage': 'Investment Type', 'Amount(in USD)': 'Investment Amount (USD)', 'Remarks': 'Remarks'})

In [17]:
# Adding data set 2 to end of data set 1
dfIndiaSUF = dfIndiaSUF1.append(dfIndiaSUF2) # Adds above dataframe below existing data in the main dataframe

### Summary Statistics

In [18]:
# Data preview
dfIndiaSUF.head(2)

,Startup Name,Founder(s),Funding Date,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
0,Swiggy,NaN,03/04/2015,NaN,Online Food Delivery,NaN,Bangalore,"Accel Partners, SAIF Partners","2,000,000",Private Equity,Series A
1,Bluegape,NaN,04/04/2015,NaN,Web Content Publishing,NaN,Gurgaon,"Rudy Gopalakrishnan, ah! Ventures","200,000",Seed Funding,NaN

In [19]:
# Size of the data set (rows, columns)
dfIndiaSUF.shape

(4831, 11)

In [20]:
# Column information
dfIndiaSUF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4831 entries, 0 to 102
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Startup Name             4779 non-null   object
 1   Founder(s)               1938 non-null   object
 2   Funding Date             4795 non-null   object
 3   Founding Date            1771 non-null   object
 4   Industry/Vertical        4596 non-null   object
 5   Sub-Vertical             3936 non-null   object
 6   City                     4524 non-null   object
 7   Investor(s)              4667 non-null   object
 8   Investment Amount (USD)  3881 non-null   object
 9   Investment Type          3995 non-null   object
 10  Remarks                  375 non-null    object
dtypes: object(11)
memory usage: 452.9+ KB

In [21]:
# Description of non string data
dfIndiaSUF.describe()

,Startup Name,Founder(s),Funding Date,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
count,4779,1938,4795,1771.0,4596,3936,4524,4667,3881,3995,375
unique,3649,1688,984,44.0,1134,3655,163,3637,968,93,67
top,Swiggy,"Ashneer Grover, Shashvat Nakrani",01/09/2020,2019.0,Consumer Internet,Online Lending Platform,Bangalore,Undisclosed Investors,Undisclosed,Private Equity,Series A
freq,11,6,156,246.0,893,11,1290,37,249,1250,159

In [22]:
# Changing empty values to NaN
dfIndiaSUF = dfIndiaSUF.replace('',np.nan,regex = True)

In [23]:
# Sum of null values
dfIndiaSUF.isna().sum()

Startup Name                 52
Founder(s)                 2893
Funding Date                 36
Founding Date              3060
Industry/Vertical           235
Sub-Vertical                895
City                        307
Investor(s)                 164
Investment Amount (USD)     950
Investment Type             836
Remarks                    4456
dtype: int64

### Data Set Cleaning

#### 'Startup Name' column

In [24]:
# Title capitalisation
dfIndiaSUF['Startup Name'] = dfIndiaSUF['Startup Name'].str.title()

In [25]:
# Columns where 'Startup Name' has no value
dfIndiaSUF[dfIndiaSUF['Startup Name'].isnull()]

,Startup Name,Founder(s),Funding Date,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,31/08/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,31/08/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,29/04/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,30/06/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,31/8/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,30/9/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,30/9/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,30/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,31/01/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,28/02/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,31/03/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,31/03/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,29/04/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,31/05/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,31/05/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,30/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Deleting rows with no value in 'Start Up'
dfIndiaSUF = dfIndiaSUF[dfIndiaSUF['Startup Name'].notnull()]

# Test of above code
dfIndiaSUF[dfIndiaSUF['Startup Name'].isnull()]

Empty DataFrame
Columns: [Startup Name, Founder(s), Funding Date, Founding Date, Industry/Vertical, Sub-Vertical, City, Investor(s), Investment Amount (USD), Investment Type, Remarks]
Index: []

#### 'Founder(s)' column

In [27]:
# Title capitalisation
dfIndiaSUF['Founder(s)'] = dfIndiaSUF['Founder(s)'].str.title()

#### 'Funding Data' & 'Funding Date' column

In [28]:
# Creating temp variable, based on column 'Funding Date' if length of string is greater than four, it it will take last the first five value of the column, else it will insert NaN
dfIndiaSUFTemp = np.where(dfIndiaSUF['Funding Date'].str.len() > 4, dfIndiaSUF['Funding Date'].str[:5], np.nan)


dfIndiaSUF.insert(3, 'Funding Day', dfIndiaSUFTemp)

# Deleting all values in column except the last four
dfIndiaSUF['Funding Date'] = np.where(dfIndiaSUF['Funding Date'].str.len() > 4, dfIndiaSUF['Funding Date'].str[-4:], dfIndiaSUF['Funding Date'])

In [29]:
#### Checking for incosistant data values
dfIndiaSUF[dfIndiaSUF['Funding Day'].str.len() == 4]

Empty DataFrame
Columns: [Startup Name, Founder(s), Funding Date, Funding Day, Founding Date, Industry/Vertical, Sub-Vertical, City, Investor(s), Investment Amount (USD), Investment Type, Remarks]
Index: []

In [30]:
# Creating temporary column with month data
dfIndiaSUF.insert(3, 'Funding Month', dfIndiaSUF['Funding Day'].str[-2:])

In [31]:
# Checking and replacing '/' with a zero to ensure data consistancy
dfIndiaSUF['Funding Month'] = dfIndiaSUF['Funding Month'].str.replace('/', '0')

In [32]:
# Only keeping first two data values in column
dfIndiaSUF['Funding Day'] = dfIndiaSUF['Funding Day'].str[:2]

In [33]:
# All null Year values
dfIndiaSUF['Funding Date'].isnull().value_counts()

False    4779
Name: Funding Date, dtype: int64

In [34]:
# Deleting all rows with null values in year
dfIndiaSUF = dfIndiaSUF[dfIndiaSUF['Funding Date'].notnull()]

dfIndiaSUF = dfIndiaSUF.drop(21)

In [35]:
# Correctly year value
dfIndiaSUF.loc[dfIndiaSUF['Funding Date'] == '/015', 'Funding Date'] = '2015'

In [36]:
#Chaning 'Funding Date' to data type int
dfIndiaSUF['Funding Date'] = dfIndiaSUF['Funding Date'].astype(int)

In [37]:
dfIndiaSUF['Funding Date'].value_counts()

2021    1077
2016     927
2020     854
2015     832
2017     623
2018     295
2019     108
Name: Funding Date, dtype: int64

In [38]:
# All month values
dfIndiaSUF['Funding Month'].value_counts()

09    467
08    458
06    452
07    416
11    414
12    397
04    386
01    381
02    361
03    303
05    277
30     84
50     78
90     72
70     66
10     42
20     26
40     15
60     11
80     10
Name: Funding Month, dtype: int64

In [39]:
# All months greater than 12
dfIndiaSUF[dfIndiaSUF['Funding Month'] > "12"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
34,News In Shorts,NaN,2015,70,09,NaN,News Aggregator mobile app,NaN,Noida,Tiger Global,"20,000,000",Private Equity,Series B
35,Bluestone,NaN,2015,70,09,NaN,Online Jewellery Store,NaN,Bangalore,"IvyCap Ventures, Accel Partners, Dragoneer Inv...","16,200,000",Private Equity,NaN
36,Shopsity,NaN,2015,70,09,NaN,Fashion Info Aggregator App,NaN,Gurgaon,"Sandeep Aggarwal, Teruhide Sato",NaN,Seed Funding,NaN
37,Notesgen,NaN,2015,70,09,NaN,Online Study Notes Marketplace,NaN,New Delhi,"Rajeev Saraf, Arvind Jha, R. Satya Narayanan",NaN,Seed Funding,NaN
38,Infinity Assurance,NaN,2015,70,10,NaN,Warranty Programs Service Administration,NaN,New Delhi,Indian Angel Network,"600,000",Seed Funding,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,Eshakti,NaN,2017,20,7/,NaN,Ecommerce,Women's Fashion Clothing Online Platform,Chennai,IDG Ventures,"2,300,000",Debt Funding,NaN
11,Inshorts,NaN,2017,20,8/,NaN,Technology,Mobile News Curation App,Noida,Tiger Global,"5,000,000",Private Equity,NaN
0,Fleetx,NaN,2019,20,1/,NaN,AI,Logistics,Gurgaon,India Quotient and LetsVenture’s Angel Fund,Undisclosed,Pre Series A,NaN
1,Zilingo,NaN,2019,20,8/,NaN,Ecommerce,Fashion & Apparel,India/Singapore,"Sequoia Capital and Temasek Holdings, EDBI, Bu...","226,000,000",Series D,NaN
2,Dhruva Space,NaN,2019,20,3/,NaN,Aerospace,Satellite Communication,Bengaluru,"Mumbai Angels, Ravikanth Reddy","50,000,000",Seed,NaN

In [40]:
# Fixing incorrect values in 'Funding Month'

#### Note "10" is not fixed, as 10 could be a month
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '20', 'Funding Month'] = '02'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '30', 'Funding Month'] = '03'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '40', 'Funding Month'] = '04'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '50', 'Funding Month'] = '05'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '60', 'Funding Month'] = '06'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '70', 'Funding Month'] = '07'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '80', 'Funding Month'] = '08'
dfIndiaSUF.loc[dfIndiaSUF['Funding Month'] == '90', 'Funding Month'] = '09'

In [41]:
# All day values
dfIndiaSUF['Funding Day'].value_counts()

01    2027
22     116
12     105
08     103
10     102
19     101
03      99
04      99
23      99
21      98
07      94
05      92
29      91
13      91
17      90
06      90
15      89
18      88
09      88
14      88
02      86
30      86
11      85
25      83
16      83
24      82
28      77
27      76
20      75
26      74
31      36
5/       5
7/       4
8/       4
2/       2
1/       2
6/       2
9/       2
4/       1
3/       1
Name: Funding Day, dtype: int64

In [42]:
# All days greater than 31
dfIndiaSUF[dfIndiaSUF['Funding Day'] > "31"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
1,Dunzo,NaN,2017,02,5/,NaN,Technology,Daily Task Management Mobile App,Bangalore,Google,"12,300,000",Private Equity,NaN
2,Tata Housing,NaN,2017,02,5/,NaN,Real Estate,Residential Project,Mumbai,Hines,"23,000,000",Private Equity,NaN
3,Handytrain,NaN,2017,02,5/,NaN,Technology,Mobile Learning Management Platform,Goa,NB Ventures,"1,000,000",Private Equity,NaN
4,Mobycy,NaN,2017,02,5/,NaN,Technology,Bicycle sharing Platform,Gurgaon,Undisclosed Investors,"500,000",Seed/Angel Funding,NaN
5,Greenlight Planet,NaN,2017,02,6/,NaN,Technology,Off-grid solar products platform,Mumbai,"Apis Partner, Eight Roads Ventures, Bamboo Cap...","60,000,000",Private Equity,NaN
6,Fintobox,NaN,2017,02,6/,NaN,Technology,Child Learning & Development Platform,Chennai,Lightbox,"7,000,000",Private Equity,NaN
7,Mswipe,NaN,2017,02,7/,NaN,Technology,Mobile point of sale services provider,Mumbai,Eduardo Saverin,"10,000,000",Private Equity,NaN
8,The Label Life,NaN,2017,02,7/,NaN,E-Commerce,Home Decor and Online Fashion Portal,Mumbai,Kalpvriksh,"3,100,000",Private Equity,NaN
9,Cygnus Hospitals,NaN,2017,02,7/,NaN,Healthcare,Super speciality Hospitals,Gurgaon,Somerset Indus Capital Ventures,"750,000",Seed/Angel Funding,NaN
10,Eshakti,NaN,2017,02,7/,NaN,Ecommerce,Women's Fashion Clothing Online Platform,Chennai,IDG Ventures,"2,300,000",Debt Funding,NaN
11,Inshorts,NaN,2017,02,8/,NaN,Technology,Mobile News Curation App,Noida,Tiger Global,"5,000,000",Private Equity,NaN
1,Earlysalary,NaN,2018,02,4/,NaN,Finance,Online Lending,Pune,Eight Roads Ventures India,"15,700,000",Private,NaN
2,Wotu,NaN,2018,02,5/,NaN,E-commerce,Food and Beverages,Bengaluru,"Claris Capital, Mumbai Angels Network",NaN,Angel / Seed Funding,NaN
3,Daaki,NaN,2018,02,8/,NaN,E-commerce,Sports Nutrition Supplement etailer,Bengaluru,Rohan Agila,NaN,Angel / Seed Funding,NaN
4,Lendingkart,NaN,2018,02,9/,NaN,Finance,Online Lending,Ahmedabad,Nederlandse Financierings-Maatschappij voor On...,"4,700,000",Debt Funding,NaN
5,Kinsane Entertainment Inc,NaN,2018,02,9/,NaN,Entertainment,Digital Entertainment for Children,Mumbai,NaN,"2,500,000",Seed/Angel Funding,NaN
4,A&R Bon Vivants,NaN,2018,10,8/,NaN,Food,Meat Retail Chain,Jaipur,"RB Investments, Singapore","1,000,000",Equity,NaN
1,Zilingo,NaN,2019,02,8/,NaN,Ecommerce,Fashion & Apparel,India/Singapore,"Sequoia Capital and Temasek Holdings, EDBI, Bu...","226,000,000",Series D,NaN

In [43]:
# Removes all non digit values from column
dfIndiaSUF['Funding Day'] = dfIndiaSUF['Funding Day'].str.replace(r'[^0-9]+', '')

In [44]:
# Add 0 infront of incorrect values in 'Funding Day'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '1', 'Funding Day'] = '01'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '2', 'Funding Day'] = '02'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '3', 'Funding Day'] = '03'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '4', 'Funding Day'] = '04'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '5', 'Funding Day'] = '05'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '6', 'Funding Day'] = '06'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '7', 'Funding Day'] = '07'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '8', 'Funding Day'] = '08'
dfIndiaSUF.loc[dfIndiaSUF['Funding Day'] == '9', 'Funding Day'] = '09'

#### 'Founding Date' column

In [45]:
# Changes empty '' values to np.nan
dfIndiaSUF['Founding Date'] = dfIndiaSUF['Founding Date'].replace('',np.nan,regex = True)

#### 'Industry/Vertical' column

In [46]:
# Title capitalisation
dfIndiaSUF['Industry/Vertical'] = dfIndiaSUF['Industry/Vertical'].str.title()

In [47]:
# Renaming and correcting value in 'Industry/Vertical'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ed-Tech', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'E-Learning', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Edtech', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Education', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Online Education Platform', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Edtech Startup', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Education Marketplace', 'Industry/Vertical'] = 'EdTech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Edttech', 'Industry/Vertical'] = 'EdTech'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ai', 'Industry/Vertical'] = 'AI'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ai Startup', 'Industry/Vertical'] = 'AI'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Tech Startup', 'Industry/Vertical'] = 'Technology'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Tech', 'Industry/Vertical'] = 'Technology'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Tech Company', 'Industry/Vertical'] = 'Technology'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Deeptech', 'Industry/Vertical'] = 'Technology'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Deep-Tech', 'Industry/Vertical'] = 'Technology'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food & Beverage', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food And Beverage', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Foodtech', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food And Beverages', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Beverage', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food & Bevarages', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Beverages', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food Industry', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food Tech', 'Industry/Vertical'] = 'Food & Beverages'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Food Production', 'Industry/Vertical'] = 'Food & Beverages'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'It', 'Industry/Vertical'] = 'IT'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Information Technology', 'Industry/Vertical'] = 'IT'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Information Technology & Services', 'Industry/Vertical'] = 'IT'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'It Startup', 'Industry/Vertical'] = 'IT'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Internet', 'Industry/Vertical'] = 'IT'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Techonology', 'Industry/Vertical'] = 'IT'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Saas Startup', 'Industry/Vertical'] = 'Saas'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Automobile', 'Industry/Vertical'] = 'Automotive'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ev Startup', 'Industry/Vertical'] = 'Automotive'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Mobility', 'Industry/Vertical'] = 'Automotive'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ev', 'Industry/Vertical'] = 'Automotive'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'E-Mobility', 'Industry/Vertical'] = 'Automotive'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ecommerce', 'Industry/Vertical'] = 'E-commerce'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'E-Commerce', 'Industry/Vertical'] = 'E-commerce'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Ecommece', 'Industry/Vertical'] = 'E-commerce'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Social Commerce', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Digital Media', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Social E-Commerce', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Online Media', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Social Network', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Online Food Community Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Online Recipe Sharing Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Beauty & Lifestyle Mobile Marketplace', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Mobile Growth Hackingplatform', 'Industry/Vertical'] = 'Platforms & Social Media'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Restaurant Management Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Startup Analytics Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Hiring Analytics Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Fund Raising Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Banking Analytics Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Digital Platform', 'Industry/Vertical'] = 'Platforms & Social Media'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Social Media', 'Industry/Vertical'] = 'Platforms & Social Media'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Health, Wellness & Fitness', 'Industry/Vertical'] = 'Health & Fitness'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Fitness', 'Industry/Vertical'] = 'Health & Fitness'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Health', 'Industry/Vertical'] = 'Health & Fitness'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Health And Wellness', 'Industry/Vertical'] = 'Health & Fitness'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Health & Wellness', 'Industry/Vertical'] = 'Health & Fitness'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Nutrition', 'Industry/Vertical'] = 'Health & Fitness'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Health Care', 'Industry/Vertical'] = 'Hospital & Healthcare'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Heathcare', 'Industry/Vertical'] = 'Hospital & Healthcare'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Heath Care', 'Industry/Vertical'] = 'Hospital & Healthcare'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Fin-Tech', 'Industry/Vertical'] = 'Fintech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Financial Services', 'Industry/Vertical'] = 'Fintech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Finance', 'Industry/Vertical'] = 'Fintech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Finance Company', 'Industry/Vertical'] = 'Fintech'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Apparel & Fashion', 'Industry/Vertical'] = 'Fashion'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Human Resources', 'Industry/Vertical'] = 'HR Tech'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Hr Tech', 'Industry/Vertical'] = 'HR Tech'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Industrial Automation', 'Industry/Vertical'] = 'Automation'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Transport', 'Industry/Vertical'] = 'Transportation'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Logistics', 'Industry/Vertical'] = 'Logistics & Supply Chain'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Fmcg', 'Industry/Vertical'] = 'Consumer Goods'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Consumer Goods', 'Industry/Vertical'] = 'Consumer Goods & Services'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Consumer Services', 'Industry/Vertical'] = 'Consumer Goods & Services'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Consumer Electronics', 'Industry/Vertical'] = 'Consumer Goods & Services'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Hyperlocal Handyman Services', 'Industry/Vertical'] = 'Consumer Goods & Services'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'On-Demand Washing & Dry-Cleaning', 'Industry/Vertical'] = 'Consumer Goods & Services'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'B2B Marketplace', 'Industry/Vertical'] = 'Marketplace'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Professional Custom Creators Marketplace', 'Industry/Vertical'] = 'Marketplace'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'E-Market', 'Industry/Vertical'] = 'Marketplace'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Saas', 'Industry/Vertical'] = 'SaaS'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Computer Software', 'Industry/Vertical'] = 'SaaS'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Software', 'Industry/Vertical'] = 'SaaS'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Saas Platform', 'Industry/Vertical'] = 'SaaS'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Software Company', 'Industry/Vertical'] = 'SaaS'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Private Cloud Networks Saas Platform', 'Industry/Vertical'] = 'SaaS'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Gaming Startup', 'Industry/Vertical'] = 'Gaming'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Insurance', 'Industry/Vertical'] = 'Insuretech'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Solar', 'Industry/Vertical'] = 'Energy'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Solar Products And Services Marketplace', 'Industry/Vertical'] = 'Energy'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Blockchain Startup', 'Industry/Vertical'] = 'Blockchain'

dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'Logitech', 'Industry/Vertical'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Industry/Vertical'] == 'B2B', 'Industry/Vertical'] = 'Other'

dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Education') == True, 'EdTech', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Platform') == True, 'Platforms & Social Media', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Financ') == True, 'Fintech', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Cloud') == True, 'Cloud', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Music') == True, 'Music', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Marketplace') == True, 'Marketplace', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Mobile') == True, 'Mobile App/Service', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Online') == True, 'SaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Dairy') == True, 'Food & Beverages', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Logistics') == True, 'Logistics & Supply Chain', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Logistic') == True, 'Logistics & Supply Chain', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Beverage') == True, 'Food & Beverages', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Food') == True, 'Food & Beverages', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Healthcare') == True, 'Hospital & Healthcare', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Delivery') == True, 'Delivery', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Ai') == True, 'AI', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Estate') == True, 'Real Estate', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Entertainment') == True, 'Entertainment', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Streaming') == True, 'Entertainment', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Marketing') == True, 'Marketing', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Software') == True, 'SaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Fashion') == True, 'Fashion', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Ecommerce') == True, 'E-commerce', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('App') == True, 'Mobile App/Service', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Sports') == True, 'Sports', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Sport') == True, 'Sports', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Paas') == True, 'PaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Automotive') == True, 'Automotive', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Energy') == True, 'Energy', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Iot') == True, 'Iot', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Saas') == True, 'SaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Automobile') == True, 'Automotive', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Supply Chain') == True, 'Logistics & Supply Chain', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Games') == True, 'Games', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Car') == True, 'Automotive', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Tourism') == True, 'Tourism', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Rental') == True, 'Rental', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Hr') == True, 'HR Tech', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Travel') == True, 'Travel & Tourism', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Tourism') == True, 'Travel & Tourism', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Data') == True, 'Data Management', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Waste') == True, 'Waste Management', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Transportation') == True, 'Transportation', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Transport') == True, 'Transportation', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Power') == True, 'Energy', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Consulting') == True, 'Consulting', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Advisory') == True, 'Consulting', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Solar') == True, 'Energy', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Battery') == True, 'Energy', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Fitness') == True, 'Health & Fitness', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Health') == True, 'Health & Fitness', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Service') == True, 'SaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Services') == True, 'SaaS', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('It') == True, 'IT', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Social') == True, 'Platforms & Social Media', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Computer') == True, 'IT', dfIndiaSUF['Industry/Vertical'])
dfIndiaSUF['Industry/Vertical'] = np.where(dfIndiaSUF['Industry/Vertical'].str.contains('Hotel') == True, 'IT', dfIndiaSUF['Industry/Vertical'])

In [48]:
# Filling empty rows with 'Other'
dfIndiaSUF['Industry/Vertical'] = dfIndiaSUF['Industry/Vertical'].fillna('Other')

In [49]:
# List (and sum) of all unique values in 'Industry/Vertical' column
dfIndiaSUF['Industry/Vertical'].value_counts()

Consumer Internet    885
Technology           496
E-commerce           369
Fintech              361
SaaS                 328
                    ...
Digital Tech           1
Co-Living              1
Retail Tech            1
Defense Tech           1
Investment Tech        1
Name: Industry/Vertical, Length: 302, dtype: int64

#### 'Sub-Vertical' column

In [50]:
# Title capitalisation
dfIndiaSUF['Sub-Vertical'] = dfIndiaSUF['Sub-Vertical'].str.title()

In [51]:
# List (and sum) of all column value
dfIndiaSUF['Sub-Vertical'].value_counts()

Online Lending Platform                                                                 20
Food Delivery Platform                                                                  10
Online Pharmacy                                                                         10
Online Learning Platform                                                                 8
Online Lending                                                                           5
                                                                                        ..
Online Interior Design Platform                                                          1
Door Step Delivery Platform                                                              1
Chatbot Creation Tool                                                                    1
Next Gen Mobility Device Manufacturer                                                    1
India'S Finest And Smartest Metal Credit Card, Reimagined For The Mobile Generation.     1
Name: Sub-Vertical, Length: 3553, dtype: int64

#### 'City' column

In [52]:
# Title capitalisation
dfIndiaSUF['City'] = dfIndiaSUF['City'].str.title()

In [53]:
# List (and sum) of all column value
dfIndiaSUF['City'].value_counts().head(30)

Bangalore        1269
Mumbai            821
New Delhi         554
Gurgaon           284
Gurugram          251
Pune              175
Chennai           159
Hyderabad         143
Noida             135
Bengaluru         131
Delhi              83
Ahmedabad          51
Jaipur             44
Kolkata            30
Indore             22
Chandigarh         18
Haryana            14
Goa                14
Singapore          12
Thane              12
Vadodara           11
Kochi               8
Coimbatore          8
Gujarat             8
California          6
Ahmadabad           6
Jodhpur             5
Kanpur              5
San Francisco       5
Faridabad           4
Name: City, dtype: int64

In [54]:
# Correcting or deleting 'city' column

# 1/4
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Udaipur', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Ahemadabad', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Ahemdabad', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Ambernath', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Andheri', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bangalore/ Bangkok', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bangalore/ Bangkok', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bangalore/ Palo Alto', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bangalore/ Sfo', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bangalore/ USA', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bankok', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Beijing', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bengaluru And Gurugram', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Berlin', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bhubneswar', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bihar', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Boston', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Burnsville', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'California', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Chembur', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Chennai/ Singapore', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Computer Games', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Dalls / Hyderabad', 'City'] = 'Greater Hyderabad '
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Dehli & Cambridge', 'City'] = 'New Dehli'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Dhingsara,Haryana', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Faridabad,Haryana', 'City'] = 'Faridabad'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Food & Beverages', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Frisco,Texas,United States', 'City'] = np.nan

# 2/4
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Goa/Hylderabad', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Gujarat', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Gurgaon / Sfo', 'City'] = 'Gurgaon'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Gurugram', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Haryana', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Hyderabad/Usa', 'City'] = 'Greater Hyderabad '
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Hyderabad', 'City'] = 'Greater Hyderabad '
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'India', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'India/Singapore', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Inda / Us', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Inda/Us', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Jaipur,Rajastan', 'City'] = 'Jaipur'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Jiaxing,Zhejiang,China', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Karnataka', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Kerala', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Kolkatta', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Kormangala', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'London', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Menlo Park', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Missourie', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mountain View,Ca', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mumbai/Bengaluru', 'City'] = 'Greater Mumbai'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mumbai / Global', 'City'] = 'Greater Mumbai'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mumbai / Ny', 'City'] = 'Greater Mumbai'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mumbai / Uk', 'City'] = 'Greater Mumbai'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Nairobi / Uk', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Nairobi', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New Delhi / California', 'City'] = 'New Delhi'

# 3/4
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New Delhi/ Houston', 'City'] = 'New Delhi'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New Delhi / Us', 'City'] = 'New Delhi'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New York', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New York,Bengaluru', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'New York,United States', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Noida / Singapore', 'City'] = 'Noida'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Null', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'nw Delhi', 'City'] = 'New Delhi'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Odisha', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Orissia', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Palo Alto', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == '', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Pune / Dubai', 'City'] = 'Pune'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Pune/Seattle', 'City'] = 'Pune'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Pune / US', 'City'] = 'Pune'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Rajastan', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Riyadh', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Samsitpur', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'San Franciscao', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'San Francisco', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Santa Monica', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Santra', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Seattle', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Seattle / Bangalore', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Seoul', 'City'] = np.nan

# 4/4
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'sfo', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'sfo / Bangalore', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Singapore', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Small Towns,Andhra Pradesh', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Tangerang,Jawa Barat,Indonesia', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Taramani', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Telangana', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Telugana', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'The Nilgiris', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Tirunelveli,Tamilnadu', 'City'] = 'Tirunelveli'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Tulangan', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Us', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Usa', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Usa/India', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Us/India', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Uttar Pradesh', 'City'] = np.nan
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'West Bengal', 'City'] = np.nan

# Rest
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Mumbai', 'City'] = 'Greater Mumbai'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Bengaluru', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Pune / Us', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'India/Us', 'City'] = 'Bangalore'
dfIndiaSUF.loc[dfIndiaSUF['City'] == 'Faridabad, Haryana', 'City'] = 'Faridabad'

#### 'Investor(s)' column

In [55]:
# Title capitalisation
dfIndiaSUF['Investor(s)'] = dfIndiaSUF['Investor(s)'].str.title()

In [56]:
# List (and sum) of all column value
dfIndiaSUF['Investor(s)'].value_counts()

Undisclosed Investors                             78
Venture Catalysts                                 32
Indian Angel Network                              28
Inflection Point Ventures                         27
Ratan Tata                                        25
                                                  ..
Rebright Partners                                  1
Currae Healthtech Fund, Unicorn India Ventures     1
Vertex Ventures, Cisco Ventures, Idg Ventures      1
Rohit Ma                                           1
Ocean View Investment, Qed Fund                    1
Name: Investor(s), Length: 3550, dtype: int64

#### 'Investment Type' column

In [57]:
# Title capitalisation
dfIndiaSUF['Investment Type'] = dfIndiaSUF['Investment Type'].str.title()

In [58]:
# List (and sum) of all column value
dfIndiaSUF['Investment Type'].value_counts()

Private Equity     1229
Seed Funding       1221
Seed                280
Series A            209
Pre-Series A        182
                   ...
Funding Round         1
Series C, D           1
Pre Series C          1
Seed Investment       1
Series I              1
Name: Investment Type, Length: 82, dtype: int64

In [59]:
# Renaming value 
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Seed Round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Early Seed', 'Investment Type'] = 'Seed'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Funding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Funding Round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Investment', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed+', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seedfunding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed/Angel', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed A', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed Round & Series A', 'Investment Type'] = 'Seed'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Private Equity Round', 'Investment Type'] = 'Private Equity'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Bridge Funding', 'Investment Type'] = 'Bridge'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Bridge Round', 'Investment Type'] = 'Bridge'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'pre-series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-series A1', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Series A1', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre- Series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Series-A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Series A1', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Series A', 'Investment Type'] = 'Series A'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Series B', 'Investment Type'] = 'Series B'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Series C', 'Investment Type'] = 'Series C'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Series C', 'Investment Type'] = 'Series C'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series C, D', 'Investment Type'] = 'Series C'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seies A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series A+', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series A-1', 'Investment Type'] = 'Series A'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series B (Extension)', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series B3', 'Investment Type'] = 'Series B'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series D1', 'Investment Type'] = 'Series D'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series E2', 'Investment Type'] = 'Series E'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series F1', 'Investment Type'] = 'Series F'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series F2', 'Investment Type'] = 'Series F'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Equity Based Funding', 'Investment Type'] = 'Equity'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Private Equity', 'Investment Type'] = 'Equity'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Debt Funding', 'Investment Type'] = 'Debt'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Debt-Funding', 'Investment Type'] = 'Debt'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Debt And Preference Capital', 'Investment Type'] = 'Debt'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Strategic Funding', 'Investment Type'] = 'Strategic Investmentment'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Venture Round', 'Investment Type'] = 'Venture'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Single Venture', 'Investment Type'] = 'Venture'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Angel Round', 'Investment Type'] = 'Angel'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Angel Funding', 'Investment Type'] = 'Angel'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed/Angel Funding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed/ Angel Funding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed / Angel Funding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed / Angle Funding', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Angel / Seed Funding', 'Investment Type'] = 'Seed'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Early seed', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Seed', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre seed round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-seed Round', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre Seed Round', 'Investment Type'] = 'Seed'

In [60]:
# Renaming values
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Series', 'Investment Type'] = 'Seed'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-seed', 'Investment Type'] = 'Seed'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Pre-Series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE pre-Series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Pre-Series A bridge round', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Pre-Series A Bridge', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Part of Series A raised inJune 2015', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Pre Series-A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE pre-series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE pre series A', 'Investment Type'] = 'Series A'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series I', 'Investment Type'] = 'Series A'
                                        
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series B', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Pre-Series B', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pre-Series B', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series B (includes Debt financing)', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series B (More Here)', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Part of $12M Series B funding', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE part of $40M Series B round', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series B Interim Funding', 'Investment Type'] = 'Series B'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Bridge Round Pre-Series B', 'Investment Type'] = 'Series B'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series C', 'Investment Type'] = 'Series C'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series C(More here)', 'Investment Type'] = 'Series C'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series D', 'Investment Type'] = 'Series D'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series D( In Feb it was announced they raised 26M, but it is 36M, so added here)', 'Investment Type'] = 'Series D'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series E', 'Investment Type'] = 'Series E'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series E (Updated from 315M to 400M after Press Release)', 'Investment Type'] = 'Series E'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series F (More Details Here)', 'Investment Type'] = 'Series F'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series G (Checkprev funding details her)', 'Investment Type'] = 'Series G'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Series G (Checkprev funding details here)', 'Investment Type'] = 'Series G'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Late Stage', 'Investment Type'] = 'Late Stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Late Stage (Alibaba @ 40% equity)', 'Investment Type'] = 'Late Stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE late Stage (part of $500M funding rnd)', 'Investment Type'] = 'Late Stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Late Stage, 10th RoundMore here', 'Investment Type'] = 'Late Stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Late Stage Round 7th (More details)', 'Investment Type'] = 'Late Stage'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Bridge funding', 'Investment Type'] = 'Bridge'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Bridge round', 'Investment Type'] = 'Bridge'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Bridge Round', 'Investment Type'] = 'Bridge'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE More details', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Strategic Funding', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Additional investment from parent company', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Additional Funding', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Pe', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Private', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Term Loan', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Mezzanine', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Edge', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Funding Round', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Mid Series', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Inhouse Funding', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Personal Investment ', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Majority Stake', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Maiden Round', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Promoter Commitment', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Corporate Round', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Crowd Funding', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE 3rd Round', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Strategic Investment (Majority Stake)', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Follow on Funding', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Strategic Funding, Minority stake', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Minority stake, Strategic', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE 1% stake', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Personal Investment', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Govt backed VC Fund', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Strategic Investment (25% stake)', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Incremental Capital', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE No confirmation', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'PE Strategic Investment', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Venture - Series Unknown', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Privateequity', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Venture', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Equity', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Angel', 'Investment Type'] = 'Other'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Bridge', 'Investment Type'] = 'Other'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series D', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series E', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series F', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series G', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series H', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Series J', 'Investment Type'] = 'Series D to late stage'
dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Late Stage', 'Investment Type'] = 'Series D to late stage'

dfIndiaSUF.loc[dfIndiaSUF['Investment Type'] == 'Seed', 'Investment Type'] = 'Early stage'

In [61]:
# Locating incorrect columns
dfIndiaSUF[dfIndiaSUF['Investment Type'] == "$300000"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
79,Little Leap,Holistic Development Programs For Children In ...,2021,07,01,2020,EdTech,Soft Skills That Make Smart Leaders,New Delhi,Vishal Gupta,ah! Ventures,$300000,NaN
92,Bhyve,Backed By 100X.Vc,2021,07,01,2020,HR Tech,A Future Of Work Platform For Diffusing Employ...,Greater Mumbai,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,NaN

In [62]:
# Locating incorrect columns
dfIndiaSUF[dfIndiaSUF['Investment Type'] == "$1200000"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
11,Fanplay,Yc W21,2021,08,01,2020.0,Games,A Real Money Game App Specializing In Trivia G...,NaN,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,NaN
24,Fanplay,Yc W21,2021,08,01,2020.0,Games,A Real Money Game App Specializing In Trivia G...,NaN,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,NaN

In [63]:
# Locating incorrect columns
dfIndiaSUF[dfIndiaSUF['Investment Type'] == "$6000000"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
82,Myre Capital,Own Rent Yielding Commercial Properties,2021,06,01,2020,Real Estate,Democratising Real Estate Ownership,Greater Mumbai,Aryaman Vir,NaN,$6000000,NaN

In [64]:
# Locating incorrect columns
dfIndiaSUF[dfIndiaSUF['Investment Type'] == "$1000000"]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
85,Saarthi Pedagogy,Pedagogy,2021,06,01,2015,EdTech,"India'S Fastest Growing Pedagogy Company, Serv...",Ahmadabad,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,NaN

In [65]:
# Inserting data to correct column
dfIndiaSUF.at[79, 'Investment Amount (USD)'] = dfIndiaSUF.at[79, 'Investment Type']
dfIndiaSUF.at[92, 'Investment Amount (USD)'] = dfIndiaSUF.at[92, 'Investment Type']
dfIndiaSUF.at[11, 'Investment Amount (USD)'] = dfIndiaSUF.at[11, 'Investment Type']
dfIndiaSUF.at[24, 'Investment Amount (USD)'] = dfIndiaSUF.at[24, 'Investment Type']
dfIndiaSUF.at[82, 'Investment Amount (USD)'] = dfIndiaSUF.at[82, 'Investment Type']
dfIndiaSUF.at[85, 'Investment Amount (USD)'] = dfIndiaSUF.at[85, 'Investment Type']

# Deleting incorrect data in column
dfIndiaSUF.at[79, 'Investment Type'] = np.nan
dfIndiaSUF.at[92, 'Investment Type'] = np.nan
dfIndiaSUF.at[11, 'Investment Type'] = np.nan
dfIndiaSUF.at[24, 'Investment Type'] = np.nan
dfIndiaSUF.at[82, 'Investment Type'] = np.nan
dfIndiaSUF.at[85, 'Investment Type'] = np.nan

In [66]:
# Locating all rows with Private Equity in 'Investment Type'
dfIndiaSUF[dfIndiaSUF['Investment Type'] == 'Private Equity'].head(50)

Empty DataFrame
Columns: [Startup Name, Founder(s), Funding Date, Funding Month, Funding Day, Founding Date, Industry/Vertical, Sub-Vertical, City, Investor(s), Investment Amount (USD), Investment Type, Remarks]
Index: []

In [67]:
# If 'Investment Type' is Private Equity, then it replaces the value with 'PE ' + 'Remarks' column with relevant data
dfIndiaSUF['Investment Type'] = np.where(dfIndiaSUF['Investment Type'] == 'Private Equity', 'PE ' + dfIndiaSUF['Remarks'], dfIndiaSUF['Investment Type'])

In [68]:
# Locating all rows with Private Equity in 'Investment Type'
dfIndiaSUF[dfIndiaSUF['Investment Type'] == 'Debt'].head(50)

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
20,Lendingkart,NaN,2017,06,12,NaN,Consumer Internet,Online Lending Platform,Ahmedabad,Yes Bank,"7,800,000",Debt,NaN
42,Fieldassist,NaN,2017,08,29,NaN,Technology,Saas Based Sales Force Automation Services,Gurgaon,Small Industries Development Bank Of India (Si...,NaN,Debt,NaN
13,Early Salary,NaN,2017,09,07,NaN,Consumer Internet,Online Unsecured Lending Platform,Pune,Ifmr Capital,"780,000",Debt,NaN
16,Aye Finance,NaN,2017,09,08,NaN,Consumer Internet,Micro Lending Platform,New Delhi,"Triodos Investment Management,","6,900,000",Debt,NaN
41,Yatra.Com,NaN,2017,09,22,NaN,E-commerce,Online Travel Agency,Gurgaon,Innoven Capital India,"15,400,000",Debt,NaN
47,Fr8,NaN,2017,11,28,NaN,Technology,Online Truck Aggregator Platform,Chennai,Ifmr Capital,"1,500,000",Debt,NaN
10,Eshakti,NaN,2017,02,07,NaN,E-commerce,Women'S Fashion Clothing Online Platform,Chennai,Idg Ventures,"2,300,000",Debt,NaN
15,Furlenco,NaN,2017,12,11,NaN,Technology,Furniture Rental Platform,Bangalore,Aamir Khan,"1,200,000",Debt,NaN
30,Cash Suvidha,NaN,2017,12,15,NaN,E-commerce,Online Micro-Lending Platform,Delhi,NaN,"2,700,000",Debt,NaN
4,Lendingkart,NaN,2018,02,09,NaN,Fintech,Online Lending,Ahmedabad,Nederlandse Financierings-Maatschappij Voor On...,"4,700,000",Debt,NaN
35,Curefit,NaN,2018,10,30,NaN,Health & Fitness,Fitness,Bangalore,"Hdfc Bank, Axis Bank","10,000,000",Debt,NaN
16,Cashify,NaN,2018,02,12,NaN,E-commerce,Online Selling,NaN,Trifecta Capital,"935,089",Debt,NaN
10,Ad2Pro,NaN,2018,03,06,NaN,Technology,"Creative Design, Brand, Media And Technology P...",Chennai,Avendus Finance Pvt. Ltd,"9,700,000",Debt,NaN
13,Magicpin,NaN,2018,03,08,NaN,Consumer Internet,Hyperlocal Discovery,NaN,Trifecta Capital,"1,000,000",Debt,NaN
19,Fingerlix,NaN,2018,03,19,NaN,Consumer Internet,Ready To Cook Food Solution,Greater Mumbai,Alteria Capital,"13,10,000",Debt,NaN
14,Ayefinance,NaN,2018,04,12,NaN,Fintech,Online Lending Platform,NaN,"Blueorchard Finance Ltd, Hinduja Leyland Finan...","46,000,00",Debt,NaN
17,Rawpressery,NaN,2018,08,20,NaN,Consumer Internet,Online Organic Juice Delivery Service,Greater Mumbai,Alteria Capital,"48,00,000",Debt,NaN
10,Pharmeasy,NaN,2018,09,11,NaN,Consumer Internet,Online Marketplace For Pharmaceutical Products,Greater Mumbai,Innoven Capital,"55,00,000",Debt,NaN
2,Samunnati Financial Intermediation & Services ...,NaN,2019,01,04,NaN,Fintech,Non-Banking Financial Company,Chennai,"Massif, A Dutch Government Fund","5,000,000",Debt,NaN
6,Toppr,NaN,2019,04,10,NaN,EdTech,E-Learning,Greater Mumbai,Milestone,"6,320,820",Debt,NaN
1,Bira91,NaN,2019,06,04,NaN,Food & Beverages,Brewery,New Delhi,Anicut Capital,"1,00,00,000",Debt,NaN
13,Vogo Automotive Pvt. Ltd.,NaN,2019,06,08,NaN,Transportation,Dockless Scooter Rental Company,NaN,Alteria Capital,"35,84,000",Debt,NaN
5,Ninjacart,NaN,2019,11,15,NaN,Marketing,Agritech,Bangalore,Trifecta Capital Advisors,"26,000,000",Debt,NaN
6,Aye Finance,NaN,2019,11,20,NaN,Fintech,Financial Services To Msmes,Gurgaon,Fintech,"17,411,265",Debt,NaN
6,Incred,NaN,2019,12,16,NaN,Fintech,Non-Banking Financial Company,Greater Mumbai,NaN,"5,900,000",Debt,NaN
7,Cashify,"Amit Sethi, Mandeep Manocha, Nakul Kumar",2020,09,01,2009.0,E-commerce,Cashify.In Is An E-Commerce Platform For Resel...,NaN,"Bessemer Venture Partners, Cdh Investments","$10,000,000",Debt,NaN
16,Samunnati,Anil Kumar,2020,09,01,2014.0,Agriculture,Samunnati Is A Financial Service Provider Focu...,Chennai,"Responsability, Accel","$20,000,000",Debt,NaN
23,Clairvolex,Manoj Pillai,2020,09,01,2006.0,Technology,Clairvolex Is An Ip Solutions Company That Man...,NaN,"Jf Mauritius Spv, Indusage Partners","$2,000,000",Debt,NaN
28,Brinton,Rahul Darda,2020,09,01,2014.0,Health & Fitness,Brinton Is One Of The Fastest Growing Pharmace...,NaN,"India Alternatives Private Equity Fund, Tata C...","$1,300,000",Debt,NaN
42,Origa,Shrirang Tambe,2020,09,01,2013.0,Fintech,The Charioteer Of Your Growth At All Times.,NaN,"500 Startups, Ah! Ventures","$2,000,000",Debt,NaN
61,Melorra,"Saroja Yeramilli, R Krishnakumar",2020,09,01,2015.0,Jewellery,"Buy Latest Gold, Diamond & Gemstone Jewellery ...",Bangalore,"Shadows Holdings, Lightbox","$8,090,000",Debt,NaN
72,Pumpumpum,"Tarun Lawadia, Sameer Kalra",2020,09,01,2018.0,Automotive,Pumpumpum Is A Car Rental Company,Gurgaon,NaN,"$360,000",Debt,NaN
86,Incred,Bhupinder Singh,2020,09,01,2016.0,Fintech,Provide Loans For All Your Needs Like Personal...,Greater Mumbai,"Pushpak Credit, Fiscal","$5,000,000",Debt,NaN
119,Aviom,Kajal Ilmi,2020,09,01,2016.0,Fintech,A Social Impact Focused Housing Finance Compan...,New Delhi,"Insitor Partners, C4D Partners","$682,000",Debt,NaN
53,Mindtickle,"Deepak Diwakar, Krishna Depura, Mohit Garg, Ni...",2020,11,01,2011.0,SaaS,Mindtickle Offers The Industry'S Most Comprehe...,Pune,"Canaan Partners, Newview Capital","$100,000,000",Debt,NaN
55,Slice,"Deepak Malhotra, Rajan Bajaj",2020,11,01,2016.0,Fintech,Slice Is A Card For First-Time Credit Card Use...,Bangalore,"Better Capital, Gunosy","$5,000,000",Debt,NaN
30,Bharatpe,"Ashneer Grover, Shashvat Nakrani",2021,01,01,2018,Fintech,Bharatpe Develops A Qr Code-Based Payment App ...,New Delhi,"Innoven Capital, Steadview Capital","$10,000,000",Debt,NaN
36,Samunnati,Anil Kumar,2021,01,01,2014,Agritech,Samunnati Is A Specialized Agriculture Value C...,Chennai,"U.S. International Development Finance Corp, R...","$10,000,000",Debt,NaN
46,Infra.Market,"Souvik Sengupta, Aaditya Sharda",2021,01,01,2016,E-commerce,Infra.Market Is An Online Procurement Marketpl...,Thane,Innoven Capital,"$6,000,000",Debt,NaN
70,Bharatpe,"Ashneer Grover, Shashvat Nakrani",2021,01,01,2018,Fintech,Bharatpe Develops A Qr Code-Based Payment App ...,New Delhi,"Steadview Capital, Insight Partners","$8,200,000",Debt,NaN
15,Medibuddy,Satish Kannan,2021,02,01,2000,EdTech,Medibuddy Is A Digital Healthcare Platform For...,Bangalore,"Innoven Capital, Teamfund","$3,000,000",Debt,NaN
28,Pepperfry,"Ambareesh Murty, Ashish Shah",2021,02,01,2011,E-commerce,Pepperfry Is An Online Home And Lifestyle Shop...,Greater Mumbai,"Innoven Capital, Bertelsmann India Investments","$30,000,000",Debt,NaN
40,Eduvanz,"Atul Sashittal, Raheel Shah, Varun Chopra",2021,02,01,2016,Fintech,"Eduvanz Is New, Innovative Finance Company, Wh...",Greater Mumbai,"Incred Financial Services, Vivriti Capital, No...","$10,000,000",Debt,NaN
42,Progcap,"Pallavi Shrivastava, Himanshu Chandra",2021,02,01,2017,Fintech,Progcap Is A Financial Service Company That Pr...,New Delhi,"Somak Ghosh, M V Nair","$1,000,000",Debt,NaN
55,Aviom Housing Finance,Kajal Ilmi,2021,02,01,2016,Fintech,Aviom India Is An Affordable Housing Finance C...,New Delhi,Gojo & Company,"$1,000,000",Debt,NaN
60,Origo,"Sunoor Kaul, Mayank Dhanuka",2021,02,01,2010,Agritech,"Origo Commodities, A Complete Post-Harvest Man...",NaN,Yes Bank,"$10,000,000",Debt,NaN
12,Moneyboxx,Deepak Aggarwal,2021,03,01,1994,Fintech,Moneyboxx Finance Provides Easy Access To Fina...,Greater Mumbai,"Ashv Finance, Blacksoil Capital","$3,000,000",Debt,NaN
33,True Balance,"Cheolwon Lee, Jay Yi, Martin Lee",2021,03,01,2014,Fintech,True Balance Is A Digital Wallet That Enables ...,NaN,"Bon Angels Venture Partners, Daesung Private E...","$10,000,000",Debt,NaN
54,Indifi,"Alok Mittal, Siddharth Mahanot, Sundeep Sahi",2021,03,01,2015,Fintech,Indifi Technologies Is A Digital Lending Platf...,NaN,"Elevar Equity, Accel India","$5,000,000",Debt,NaN
74,Northern Arc,Kshama Fernandes,2021,03,01,2008,Fintech,Northern Arc Capital (Formerly Known As Ifmr C...,Chennai,"U.S. International Development Finance Corp, A...","$10,000,000",Debt,NaN

#### 'Investment Amount (USD)' column

In [69]:
dfIndiaSUF[dfIndiaSUF['Investment Amount (USD)'].isnull()]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
7,Loginext,NaN,2015,04,07,NaN,Logistics & Supply Chain,NaN,Greater Mumbai,"Ajit Surana, Sanjay Mehta",NaN,Early stage,NaN
15,Purple Squirrel,NaN,2015,04,09,NaN,EdTech,NaN,Greater Mumbai,"Matrix Partners India, India Quotient",NaN,Other,Series B
17,Immi Life,NaN,2015,04,10,NaN,SaaS,NaN,Chennai,Unitus Seed Fund,NaN,Early stage,NaN
31,Doormint,NaN,2015,04,18,NaN,SaaS,NaN,Greater Mumbai,Powai Lake Ventures,NaN,Early stage,NaN
32,Vyomo,NaN,2015,04,20,NaN,SaaS,NaN,Gurgaon,Youwecan Ventures,NaN,Early stage,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,Sochcast,"Vinners, Raj Nayak, Amritaanshu Agrawal",2021,09,01,2020,Sochcast Is An Audio Experiences Company That ...,"Ca Harvinderjit Singh Bhatia, Garima Surana, A...",Online Media\t#Ref!,$Undisclosed,NaN,NaN,NaN
85,Tinkerly,"O.P. Godara, Vivek Pathak, Kapil Arya, Sharad ...",2021,09,01,2015,EdTech,A Stem Learning Online-Offline Solutions Provi...,Jaipur,Navneet Education,NaN,NaN,NaN
11,Zoomcar,Greg Moran,2021,11,01,2012,Automotive,Zoomcar Holds The Distinction Of Being India‚Ä...,Bangalore,Sternaegis Ventures,NaN,NaN,NaN
88,Karkinos Healthcare,NaN,2021,12,01,2020,Automotive,Medical Center For Treatment Of Complex Cancers,Greater Mumbai,NaN,NaN,NaN,NaN
92,Zorgers,"Varun Gupta, Anil Kumar, Abhinav Gupta",2021,12,01,2013,Automotive,Zorgers Home Healthcare Is India‚Äôs Most Trus...,Mohali,Ritu Marya Family Office.,NaN,NaN,NaN

In [70]:
# Removes all non digit values from column
dfIndiaSUF['Investment Amount (USD)'] = dfIndiaSUF['Investment Amount (USD)'].str.replace(r'[^0-9]+', '')

In [71]:
# Changes empty values to np.nan
dfIndiaSUF.loc[dfIndiaSUF['Investment Amount (USD)'] == '', 'Investment Amount (USD)'] = np.nan

In [72]:
# Changes np.nan values to 0
dfIndiaSUF['Investment Amount (USD)'] = dfIndiaSUF['Investment Amount (USD)'].fillna(0)

In [73]:
# Changes all values to string data type
dfIndiaSUF['Investment Amount (USD)'] = dfIndiaSUF['Investment Amount (USD)'].astype(str)

In [74]:
# Showing rows with more than 10 characters in 'Investment Amount (USD)'
dfIndiaSUF[dfIndiaSUF['Investment Amount (USD)'].str.len() > 10]

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
4,True Balance,"Charlie, Jay, Martin",2020,08,01,2014,Fintech,Earn Money By Meeting Financial Needs Of Your ...,NaN,Balancehero,88700023000000,Series C,NaN
73,Alteria Capital,Vinod Murali,2021,04,01,2018,Fintech,Alteria Capital Is A Venture Debt Firm .,Greater Mumbai,NaN,150000000000,Debt,NaN

In [75]:
# Correcting and deleting incorrect values 
dfIndiaSUF.loc[dfIndiaSUF['Investment Amount (USD)'] == '88700023000000', 'Investment Amount (USD)'] = "23000000"
dfIndiaSUF.loc[dfIndiaSUF['Investment Amount (USD)'] == '150000000000', 'Investment Amount (USD)'] = "0"

In [76]:
# Changes all values to integer data type
dfIndiaSUF['Investment Amount (USD)'] = dfIndiaSUF['Investment Amount (USD)'].astype(int)

#### 'Task' Column

#### Duplicates and final data cleaning

In [77]:
# Changing empty values to NaN
dfIndiaSUF = dfIndiaSUF.replace('',np.nan,regex = True)

In [78]:
# Sum of duplicate entire rows
dfIndiaSUF.duplicated().value_counts()

False    4697
True       19
dtype: int64

In [79]:
# Print of row duplicates, sorted by 'Startup Name'
dfIndiaSUF[dfIndiaSUF.duplicated() == True].sort_values(by='Startup Name', ascending=True)

,Startup Name,Founder(s),Funding Date,Funding Month,Funding Day,Founding Date,Industry/Vertical,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
30,Advantage Club,"Sourabh Deorah, Smiti Bhatt Deorah",2021,08,01,2014.0,HR Tech,Advantage Club Is India'S Largest Employee Eng...,Greater Mumbai,"Y Combinator, Broom Ventures, Kunal Shah",1700000,NaN,NaN
40,Asqi Advisors,Swapnil Pawar,2021,12,01,2019,Fintech,Bringing Blockchain Technology Intro Mainstrea...,Greater Mumbai,Founders Room Capital,1000000,Series A,NaN
22,Bewakoof,Prabhkiran Singh,2021,08,01,2012.0,Fashion,Bewakoof Is A Lifestyle Fashion Brand That Mak...,Greater Mumbai,Investcorp,8000000,NaN,NaN
137,Byju‚Äôs,Byju Raveendran,2020,09,01,2011.0,EdTech,An Indian Educational Technology And Online Tu...,Bangalore,"Owl Ventures, Tiger Global Management",500000000,NaN,NaN
20,Curefoods,Ankit Nagori,2021,08,01,2020.0,Food & Beverages,Healthy & Nutritious Foods And Cold Pressed Ju...,Bangalore,"Iron Pillar, Nordstar, Binny Bansal",13000000,NaN,NaN
39,Enmovil,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",2021,12,01,2015,IT,Enmovil Delivers A Business Intelligence Platf...,Greater Hyderabad,Anicut Angel Fund,1300000,Series A,NaN
42,Evenflow Brands,"Utsav Agarwal, Pulkit Chhabra",2021,12,01,2020,SaaS,Identify And Partner With The Upcoming Ecommer...,Greater Mumbai,NaN,500000,NaN,NaN
36,Fananywhere,"Varun Chaudhary, Amit Kumar",2021,12,01,2021,Fintech,Celebrity Nft Platform,Bangalore,"Oasis Capital, Scorpio Vc, Deltahub Capital",0,Early stage,NaN
24,Fanplay,Yc W21,2021,08,01,2020.0,Games,A Real Money Game App Specializing In Trivia G...,NaN,"Pritesh Kumar, Bharat Gupta",1200000,NaN,NaN
44,Fullife Healthcare,Morgan Stanley Private Equity Asia,2021,12,01,2009,Health & Fitness,Varun Khanna,Pharmaceuticals\t#Ref!,$22000000,0,NaN,NaN
41,Insurance Samadhan,Deepak Bhuvenshwari Uniyal,2021,12,01,2018,Insuretech,The Insurance Industry Will Help In Representa...,New Delhi,"9Unicorns, Znl",725000,Series A,NaN
54,Krimanshi,Nikhil Bohra,2020,11,01,2015.0,Biotechnology Company,Krimanshi Aims To Increase Rural Income By Imp...,Jodhpur,"Rajasthan Venture Capital Fund, Aim Smart City",600000,Early stage,NaN
43,Masterchow,"Vidur Kataria, Sidhanth Madan",2021,12,01,2020,Hauz Khas,A Ready-To-Cook Asian Cuisine Brand,NaN,Weh Ventures,461000,Early stage,NaN
34,Nephroplus,Vikram Vuppala,2021,12,01,2009,Automotive,A Vision And Passion Of Redefining Healthcare ...,Greater Hyderabad,Iifl Asset Management,24000000,Series D to late stage,NaN
37,Pingolearn,"Mohit Menghani, Shubham Maheshwari",2021,12,01,2021,EdTech,Pingolearn Offers Language Learning Courses Wi...,Pune,"Titan Capital, Haresh Chawla, Angellist Syndicate",200000,NaN,NaN
32,Ruptok,Ankur Gupta,2021,08,01,2020.0,Fintech,Ruptok Fintech Pvt. Ltd. Is An Online Gold Loa...,New Delhi,Eclear Leasing,1000000,NaN,NaN
31,Trinkerr,"Manvendra Singh, Gaurav Agarwal",2021,12,01,2021,Capital Markets,Trinkerr Is India'S First Social Trading Platf...,Bangalore,Accel India,6600000,Series A,NaN
33,Ultraviolette,"Subramaniam Narayan, Niraj Rajmohan",2021,12,01,2021,Automotive,Create And Inspire The Future Of Sustainable U...,Bangalore,"Tvs Motor, Zoho",150000000,Series C,NaN
32,Zorro,"Jasveer Singh, Abhishek Asthana, Deepak Kumar",2021,12,01,2021,Platforms & Social Media,Pseudonymous Social Network Platform,NaN,"Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",32000000,Early stage,NaN

In [80]:
# Deleting duplicated rows
dfIndiaSUF = dfIndiaSUF.drop_duplicates()

In [81]:
# Sorting Entire data set by 'Funding Date', and if possible by 'Funding Date' and 'Funding Date', in ascending order
dfIndiaSUF = dfIndiaSUF.sort_values(by=['Funding Date', 'Funding Month', 'Funding Day'], ascending=[True, True, True])

In [82]:
# Resetting the index 
dfIndiaSUF = dfIndiaSUF.reset_index()

In [83]:
# Deleting the first column
dfIndiaSUF = dfIndiaSUF.iloc[:,1:]

In [84]:
# Changes date type to string
dfIndiaSUF['Funding Date'] = dfIndiaSUF['Funding Date'].astype(str)

In [85]:
#### Fills all values in 'Funding Month' and 'Funding Day' to 01
dfIndiaSUF['Funding Day'] = dfIndiaSUF['Funding Day'].fillna('01')
dfIndiaSUF['Funding Month'] = dfIndiaSUF['Funding Month'].fillna('01')

In [86]:
# Renaming column
dfIndiaSUF = dfIndiaSUF.rename(columns={"Funding Date": "Funding Year"})

In [87]:
# Creating date column for Tableau
dfIndiaSUF.insert(2, 'Funding Date', dfIndiaSUF['Funding Day'] + "/" + dfIndiaSUF['Funding Month'] + "/" + dfIndiaSUF['Funding Year'])

In [88]:
# Moving 'Funding Date' column, by assigning it, deleting it, and then adding it again
dfIndiaSUF_FundingDate = dfIndiaSUF.pop('Funding Date')
dfIndiaSUF.insert(7, 'Funding Date', dfIndiaSUF_FundingDate)

In [89]:
# Exporting 'Industry/Vertical' column for data cleanup of last values
# Will override edited file, therefore only done first time
#dfIndiaSUF['Industry/Vertical'].to_excel('Industry-Vertical.xlsx')

# Importing cleaned file again
dfIndiaSUFIV = pd.read_csv('Industry-Vertical.csv', skipinitialspace = True, sep=";")

In [90]:
# Updating values in main data set
dfIndiaSUF['Industry/Vertical'] = dfIndiaSUFIV['Industry/Vertical']

In [91]:
# Changes 'Debt' values in 'Investment Type' column based on assumptions
dfIndiaSUF['Investment Type'] = np.where(((dfIndiaSUF['Investment Type'] == 'Debt') & (dfIndiaSUF['Investment Amount (USD)'] < 10000000)), 'Early Stage', dfIndiaSUF['Investment Type'])
dfIndiaSUF['Investment Type'] = np.where(((dfIndiaSUF['Investment Type'] == 'Debt') & (dfIndiaSUF['Investment Amount (USD)'] < 20000000)), 'Series A', dfIndiaSUF['Investment Type'])
dfIndiaSUF['Investment Type'] = np.where(((dfIndiaSUF['Investment Type'] == 'Debt') & (dfIndiaSUF['Investment Amount (USD)'] < 40000000)), 'Series B', dfIndiaSUF['Investment Type'])
dfIndiaSUF['Investment Type'] = np.where(((dfIndiaSUF['Investment Type'] == 'Debt') & (dfIndiaSUF['Investment Amount (USD)'] < 70000000)), 'Series C', dfIndiaSUF['Investment Type'])
dfIndiaSUF['Investment Type'] = np.where(((dfIndiaSUF['Investment Type'] == 'Debt') & (dfIndiaSUF['Investment Amount (USD)'] >= 70000000)), 'Series D to late stage', dfIndiaSUF['Investment Type'])

In [92]:
# Filling all np.nan values to 'Other'
dfIndiaSUF['Investment Type'] = dfIndiaSUF['Investment Type'].fillna('Other')

In [93]:
# Chaning all 'Other' values to np.nan, if 'Investment Amount (USD)' is 0
dfIndiaSUF['Investment Type'] = np.where((dfIndiaSUF['Investment Amount (USD)'] == 0), np.nan, dfIndiaSUF['Investment Type'])

### Updated data set

In [94]:
dfIndiaSUF.head(2)

,Startup Name,Founder(s),Funding Year,Funding Month,Funding Day,Founding Date,Industry/Vertical,Funding Date,Sub-Vertical,City,Investor(s),Investment Amount (USD),Investment Type,Remarks
0,Lenskart,NaN,2015,01,02,NaN,Other,02/01/2015,NaN,NaN,"Tpg Growth, Tr Capital, Idg Ventures",2150000,Other,NaN
1,Violetstreet,NaN,2015,01,02,NaN,Other,02/01/2015,NaN,NaN,"Venkat Vallabhneni, Sudhakar Reddy, Srinivasa ...",315000,Early stage,NaN

In [95]:
# Exporting dataframe data set as csv file
dfIndiaSUF.to_csv('Indian_Start_Up_Data_v1.csv')

In [96]:
# Exporting dataframe data set as excel file
dfIndiaSUF.to_excel('Indian_Start_Up_Data_v1.xlsx')